.botao,.botaoQuestao{
	width: 48%;
}
.starter-template{
	padding: 3rem 1.5rem;
    text-align: center;
}

@media screen and (max-width: 714px) {
  .botao{
  	width: 100%; 
  }
  .botaoQuestao{
  	width: 160%;
  }
}